<!DOCTYPE HTML>
<html lang="pt-br">
	<head>
		<meta charset="UTF-8">

		<title>MMORPG - Game of Thrones</title>
		
		<!-- JQuery -->
		<script src="js/jquery-2.2.1.js"></script>

		<!-- bootstrap - link cdn -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	
		<!-- incluindo css -->
		<link href="css/style.css" rel="stylesheet">
		
		<script>
		  $(document).ready(()=>{
		    $('#btn_sair').click(()=>{
		      window.location.href = '/sair'
		    })

			$('#btn_suditos').click(()=>{
				$('#msg_erro').hide()
				$.ajax({
					url: "/suditos",
					mehtod: "get",
					success: (data)=>{
						$('.acoes').html(data)
					}
				})
			})

			function ajaxPergaminhos(){
				$.ajax({
					url: "/pergaminhos",
					mehtod: "get",
					success: (data)=>{
						$('.acoes').html(data)
					}
				})
			}

			var btnPergaminhoClicado = false
			$('#btn_pergaminhos').click(()=>{
				$('#msg_erro').hide()
				ajaxPergaminhos()
				if(!btnPergaminhoClicado){
					btnPergaminhoClicado = true
					setInterval(cronometro, 1000)
				}
			})
			
		  })

		  function cronometro(){
			let txt_segundos = document.querySelectorAll('.txt_segundos')
			txt_segundos.forEach(txt=>{
				let segundos = parseInt(txt.innerHTML)
				let segundosAtuais = segundos - 1
				if(segundosAtuais >= 0){
					txt.innerHTML = segundosAtuais
				}else{
					window.location.href = "/jogo?msg=C"
				}

			})
			// 	console.log($('.txt_segundos').html())
				
			//   $('.txt_segundos').each(()=>{
			// 	  console.log($(this))
			// })
		  }
		</script>

	</head>

	<body class="body-jogo">

		<nav class="navbar navbar-default navbar-static-top">
			<div class="container">
				<div class="form-group sair">
					<button type="button" class="btn btn-info pull-right" id="btn_sair">Sair</button>
				</div>
			</div>
		</nav>

	    <div class="container">

			<% if(msg == 'A'){ %>
				<div class="alert alert-danger" id="msg">
					<strong>Operação inválida, verifique se todos os campos foram preenchidos!</strong>
				</div>
			<% } %>

			<% if(msg == 'B'){ %>
				<div class="alert alert-info" id="msg">
					<strong>Ação executada com sucesso!</strong>
				</div>
			<% } %>

			<% if(msg == 'C'){ %>
				<div class="alert alert-info" id="msg">
					<strong>Ação finalizada!</strong>
				</div>
			<% } %>
	    	
			<div class="row">
	    		<div class="col-sm-3 casa">
					<img src="images/casa_<%= usuarioInfo.usuario.casa %>.jpg" />
				</div>

	    		<div class="col-sm-9">
					<div class="row barra-superior">
						<div class="col-sm-2"> 
							<img src="images/habilidades/temor.jpg" title="Temor" alt="Temor" />
							<span><%= usuarioInfo.temor %></span>
						</div>
						
						<div class="col-sm-2"> 
							<img src="images/habilidades/sabedoria.jpg" title="Sabedoria" alt="Sabedoria"/>
							<span><%= usuarioInfo.sabedoria %></span>
						</div>
						
						<div class="col-sm-2"> 
							<img src="images/habilidades/comercio.jpg" title="Comércio" alt="Comércio"/>
							<span><%= usuarioInfo.comercio %></span>
						</div>
						
						<div class="col-sm-2"> 
							<img src="images/habilidades/magia.jpg" title="Magia" alt="Magia"/>
							<span><%= usuarioInfo.magia %></span>
						</div>
					</div>
				</div>
	    	</div>
			
			<div class="row">
				<div class="col-sm-3"></div>
				<div class="col-sm-9">
					<div class="acoes">Aguardando Ordens...</div>					
				</div>
			</div>
			
		</div>	
		
		<div class="barra-inferior">
			<div class="container">
			
				<div class="row">
					<div class="col-sm-1">
						<img src="images/outros/suditos.jpg" title="Aldeões" alt="Aldeões" id="btn_suditos"/>
						<span><%= usuarioInfo.suditos %></span>
					</div>
					
					<div class="col-sm-1">
						<img src="images/outros/pergaminho.jpg" title="Pergaminhos" alt="Pergaminhos" id="btn_pergaminhos"/>
					</div>
					
					<div class="col-sm-8"></div>
					
					<div class="col-sm-2">
						<img src="images/outros/moeda.jpg" title="Moeda" alt="Moeda"/>
						<span><%= usuarioInfo.moeda %></span>
					</div>
					
				</div>
			</div>
		</div>
	</body>
</html>